
#footer {
  background-color: black;
}



.parallax {
  position: absolute;
  padding-top: 50px;
  text-shadow: 3px 2px #171007;
  /*background-image: url(landing2.jpg);
  background-size: cover;*/
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url(landing2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.landing-text {
  margin: 0;
  position: absolute;
  text-align: center;
  color: orange;
  bottom: 20%;
  right: 10%;
  /*float: left;
  border-style: solid;*/


}


#mainText {
  border-color: red;
  border-style: hidden;
}
#mainText2 {
  border-color: blue;
  border-style: hidden;
}
#navID {
  margin: 0;
}
.whatthefuck {
  border-style: dashed;
  border-color: green;
}
